{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>Expenses List</h1>

<ul class="list-group">
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
    <li clas="list-group-item">Bought Beer</li>
</ul>

{% endblock %}

